@import '../lib/bootstrap/scss/_variables.scss';
/*@import './_variables.scss';*/


.ms-under-construction {
	position: absolute;
	top: .5rem;
	left: 50%;
	margin-left: -200px;
	opacity: 0.4;
	font-size: 1.5rem;

	&::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-bottom: -.1em;
		margin-right: .5em;

		@include ms-defBgSvgIcon;
		background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='orange' xmlns='http://www.w3.org/2000/svg'><path d='M9.97 4.88l.953 3.811C10.158 8.878 9.14 9 8 9c-1.14 0-2.159-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.274 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z'/></svg>");
	}
}


table.dataTable {
	.ms-temperature-danger {
		color: red;
		display: inline-block;
		position: relative;

		&::before {
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -.75em;
			left: -1.5em;
			content: '';
			width: 1em;
			height: 1.5em;

			@include ms-defBgSvgIcon;
			background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'><path d='M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z'/></svg>");
		}
	}
}