@import '../lib/bootstrap/scss/_variables.scss';

.ms-row,
.ms-row-md {
	--bs-gutter-x: 3rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x)/ -2);
	margin-left: calc(var(--bs-gutter-x)/ -2);

	> * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--bs-gutter-x)/ 2);
		padding-left: calc(var(--bs-gutter-x)/ 2);
		margin-top: var(--bs-gutter-y);
	}
}

.ms-col {
	flex: 1 0 0%;
}

.ms-col-md-1 {
	max-width: map-get($container-max-widths, "md"); // 720px
}


$md-grid-breakpoint: map-get($grid-breakpoints, "md");
@media only screen and (max-width: $md-grid-breakpoint) {
	.ms-row-md {
		flex-direction: column;
	}
}

$lg-grid-breakpoint: map-get($grid-breakpoints, "lg");
@media only screen and (max-width: $lg-grid-breakpoint) {
	.ms-row-md {
		--bs-gutter-x: 1.5rem;
	}
}