@import '../lib/bootstrap/scss/_variables.scss';
/*@import './_variables.scss';*/

@mixin shiftedcontent {
	margin-left: $sitenav-aside-collapsed-width;
	transition: margin $sitenav-aside-toggle-transition-time linear;
	padding-left: $content-xpadding;
	padding-right: $content-xpadding;
}


.ms-pagecontainer{
	@include shiftedcontent;
}
.ms-footer {
	@include shiftedcontent;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #4a5073;

	&:after{
		display:block;
		clear:both;
		content: '';
	}

	.ms-footer-language {
		float:right;
		white-space: nowrap;

		label:first-of-type{
			float:left;
			margin-right: 3em;
		}
	}
}

/* expanded sitenav */
.ms-sitenav-expanded {
	.ms-pagecontainer, 
	.ms-footer {
		margin-left: $sitenav-aside-expanded-width;
	}
}


.ms-pagenav-toppanel {
	font-size: 0.9rem;
	margin-bottom: .5rem;

	.nav-item{
		margin-right: 5px;
	}

	.nav-link:not(.disabled):not(.active) {
		color: $body-color;

		&:hover,
		&:focus {
			/* $nav-link-hover-color is null by default */
			/*color: $link-hover-color;*/
			background-color: $gray-200;
		}
	}
}

.ms-pagecontent {
	border-color: #eaedf2 !important;
	box-shadow: 0 2px 18px rgba(0,0,0,.02);
	padding: 1.25rem 1.5rem;
	background-color: #fff;
	background-clip: border-box;
	border-radius: .5rem;	
}


/* ---- FORMs ---------- */
/* standard large form */
.ms-form-container {
	max-width: map-get($grid-breakpoints, "xl"); // 1200px
	/*color: #4a5073;*/
	font-size: 0.9em;

	*[class*="col-"] {
		margin-bottom: 1.8em;
	}

	.form-label {
		margin-top: 1em;
	}
}

/* ---- DataTable -------*/
/* override DataTable.net styles */
table.dataTable{
	th{
		font-size: 0.9em;
	}

	caption{
		margin-bottom: 0.5em;
	}
}
div.dataTables_info {
	color: $table-caption-color;
	padding-top: 1em;
}
div.dataTables_wrapper div.dataTables_paginate {
	margin-top: .8em;
}

.dataTables_wrapper .pagination{
	font-size: 0.9em; /* like as NavPils */
}