@page
@using MedStat.WebAdmin.Classes
@model IndexModel

@{
	ViewData["Title"] = "Home page";
	ViewData.SetSelectedMainMenu(NavHelper.EnMainMenuItem.Home);
}


<h1>Начальная</h1>

<h4>Панель управления системы <strong>"МедСтат"</strong></h4>
<p class="mt-4">
	<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login" title="Login">Вход в систему</a>
</p>