@using MedStat.WebAdmin.Classes.SharedResources
@using Microsoft.AspNetCore.Mvc.Localization

@model MedStat.Core.BE.Company.Company
@inject IHtmlLocalizer<CompanyResource> CmpLocalizer

@*<h4>@CmpLocalizer["Main"]</h4>*@

<div class="row">
	<div class="col-md-6">

		<div>
			<label asp-for="Name" class="form-label"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Description" class="form-label"></label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

	</div>
</div>