@page
@using MedStat.WebAdmin.Classes
@using Microsoft.AspNetCore.Mvc.Localization
@model CompanyCreateModel

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["New company creation"];
	ViewData.SetSelectedMainMenu(NavHelper.EnMainMenuItem.Company);
}

@section PageHeader
{
	<nav aria-label="breadcrumb">
		<breadcrumb menu-item="@NavHelper.EnMainMenuItem.Company"
								page-title="@Localizer["New company"].Value"></breadcrumb>
	</nav>

	<h1 class="ms-pageheader-pagetitle">@Localizer["New company"]</h1>
}

<div class="ms-pagecontent">

	<div class="row">

		<div class="col-md-3">
			<ul class="nav nav-pills flex-column">
				<li class="nav-item">
					<a class="nav-link active" id="profile" href="#">Реквизиты</a>
				</li>
				<li class="nav-item">
					<span class="nav-link disabled">Контакты</span>
				</li>
				<li class="nav-item">
					<span class="nav-link disabled">Аккаунты</span>
				</li>
				<li class="nav-item">
					<span class="nav-link disabled">Трекинг</span>
				</li>
			</ul>

		</div>


		<div class="col-md-9">


			<form method="post">

				<h4>Основные реквизиты</h4>

				<div>
					<label asp-for="Company.MainRequisites.Name" class="form-label"></label>
					<input asp-for="Company.MainRequisites.Name" class="form-control" />
				</div>
				<div>
					<label asp-for="Company.MainRequisites.INN" class="form-label"></label>
					<input asp-for="Company.MainRequisites.INN" class="form-control" />
				</div>

				<button class="btn btn-primary" type="submit">Создать</button>

			</form>


		</div>
	</div>

</div>

