@page "/Companies/{CompanyId:int}/Main"

@using MedStat.WebAdmin.Classes.SharedResources
@using Microsoft.AspNetCore.Mvc.Localization

@model CompanyMainPageModel
@inject IHtmlLocalizer<CompanyResource> CmpLocalizer

@{
	Layout = "_CompanyLayout";
}

<div class="ms-pagecontent">

	<form method="post" class="ms-form-container">

		@Html.EditorFor(m => m.MainData, "~/Pages/Companies/_MainTab.cshtml")

		<button class="btn btn-primary" type="submit">@CmpLocalizer["Save"]</button>

	</form>

</div>