<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - МедСтат.Админ</title>

	<!-- Bootstrap and site CSS -->
	<link rel="stylesheet" href="~/css/main.css" />
	@* <link rel="stylesheet" href="~/css/site.css" /> *@
</head>
<body>
	<header>
		<partial name="~/Pages/Navigation/_MainMenuPartial.cshtml" />
	</header>

	<div class="container">
		<main role="main" class="pageContent">
			@RenderSection("PageHeader", false)
			
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - MedStat.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Bootstrap Bundle with Popper.js -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy" crossorigin="anonymous"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
