@page "{DeviceId:int}"

@using Microsoft.AspNetCore.Mvc.Localization
@using MedStat.WebAdmin.Classes.SharedResources

@model DeviceDeletePageModel

@inject IHtmlLocalizer<DeviceResource> DvLocalizer

@{
	Layout = "_PopupLayout";

	ViewData["Title"] = Model.PageTitle;
}

<div class="ms-pagecontent">
	@if (!Model.EntityWasDeleted)
	{
		<form method="post" class="ms-form-container">

			<p>
				@DvLocalizer["Device will be deleted permanently. Are you sure?"]
			</p>

			<button class="btn btn-danger" type="submit">@DvLocalizer["__button__Delete"]</button>
			
			<input type="hidden" asp-for="PageTitle" />
		</form>
	}
	else
	{
		<br/> @* emulate some content for prevent popup scrolling *@
	}
</div>