@page

@using MedStat.Core.BE.Device
@using MedStat.WebAdmin.Classes.Helpers
@using Microsoft.AspNetCore.Mvc.Localization
@using MedStat.WebAdmin.Classes.SharedResources

@model DeviceEditPageModel

@inject IHtmlLocalizer<DeviceResource> DvLocalizer

@{
	Layout = "_PopupLayout";

	ViewData["Title"] = Model.PageTitle;

	ViewData.SetInputMaskUsageFlag();
}

<div class="ms-pagecontent">

	<form method="post" class="ms-form-container">

		<div class="row gx-5">

			<div class="col-sm-6">
				
				<div>
					<label asp-for="DeviceData.DeviceType" class="form-label"></label>
					<select asp-for="DeviceData.DeviceType" asp-items="Model.DeviceTypes" class="form-select"
					        onchange="$('#btnChangeDeviceType').click()"></select>
					<span asp-validation-for="DeviceData.DeviceType" class="text-danger"></span>
					
					<input id="btnChangeDeviceType" type="submit" style="display: none"
					       asp-page-handler="ChangeDeviceType" asp-route-deviceId="@Model.DeviceId" />
				</div>

				<div>
					<label asp-for="DeviceData.Device.DeviceModelUid" class="form-label"></label>
					<select asp-for="DeviceData.Device.DeviceModelUid" asp-items="Model.DeviceModels" class="form-select"></select>
					<span asp-validation-for="DeviceData.Device.DeviceModelUid" class="text-danger"></span>
				</div>
				

			</div>

			<div class="col-sm-6">
		
				<div>
					<label asp-for="DeviceData.Device.InventoryNumber" class="form-label"></label>
					<input asp-for="DeviceData.Device.InventoryNumber" class="form-control" />
					<span asp-validation-for="DeviceData.Device.InventoryNumber" class="text-danger"></span>
				</div>
				
				<div>
					<label asp-for="DeviceData.WifiMac" class="form-label"></label>
					<input asp-for="DeviceData.WifiMac" class="form-control" data-type="mac" />
					<span asp-validation-for="DeviceData.WifiMac" class="text-danger"></span>
				</div>
				
				@if (Model.DeviceData.DeviceType == EnDeviceType.Gateway)
				{
					<div>
						<label asp-for="DeviceData.EthernetMac" class="form-label"></label>
						<input asp-for="DeviceData.EthernetMac" class="form-control" data-type="mac" />
						<span asp-validation-for="DeviceData.EthernetMac" class="text-danger"></span>
					</div>
				}

			</div>

		</div>
		
		<button class="btn btn-primary" type="submit" 
		        asp-page-handler="" asp-route-deviceId="@Model.DeviceId">@DvLocalizer["__btn__Save"]</button>

	</form>

</div>


@section Scripts
{
	<script type="text/javascript">

		window.pageInit = function() {

			// Init mask for MAC fields
			$('input[data-type=mac]').mask('ZZ-ZZ-ZZ-ZZ-ZZ-ZZ', {
				translation: {
					'Z': {
						pattern: /[0-9a-zA-Z]/, 
						optional: false
					}
				},
				placeholder: "__-__-__-__-__-__"
			});

		};

	</script>
}